@model UxtrataWeb.ModelView.StudentReportViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="editor-label">
        @Html.Label("Student")<br />
    </div>

    <div>
        @Html.DropDownListFor(model => model.Student, new SelectList(Model.Students, "Value", "Text"), new { style = "width:350px", @id = "Students" })
    </div>

    <table class="table table-bordered" id="StudentTable">
        <thead>
            <tr><th>ID</th><th>Transaction Type</th><th>Course Name</th><th>From Account</th><th>To Acccount</th><th>Amount</th></tr>
        </thead>
        <tbody></tbody>
    </table>
    
    <div style="padding:10px; border:1px solid black">
        <div><a id="pdfLink" href="@Url.Action()"> Get Report PDF</a></div>
        <div><a id="excelLink" href="@Url.Action()"> Get Report Excel</a></div>
        <div><a id="wordLink" href="@Url.Action()"> Get Report Word</a></div>
        <div><a id="imageLink" href="@Url.Action()"> Get Report Image</a></div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style type="text/css">
    #overlay {
        display: none;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {

        $("#pdfLink").click(function()
        {
            if ($('#Students').val() !== "0") {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Report")?formatId=PDF&studentId=' + $("#Students").val(),
                    async: true,
                    dataType: 'json',
                    cache: false,
                    statusCode: {
                        400: function () {
                            alert("Sorry! We cannot process you request");
                        },
                        200: function () {
                            window.location = '@Url.Action("Report")';
                        }
                    }
                });
                return false;
            }
        })

        $("#excelLink").click(function () {
            if ($('#Students').val() !== "0") {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Report")?formatId=Excel&studentId=' + $("#Students").val(),
                    async: true,
                    dataType: 'json',
                    cache: false,
                    statusCode: {
                        400: function () {
                            alert("Sorry! We cannot process you request");
                        },
                        200: function () {
                            window.location = '@Url.Action("Report")';
                        }
                    }
                });
                return false;
            }
        })

        $("#wordLink").click(function () {
            if ($('#Students').val() !== "0") {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Report")?formatId=Word&studentId=' + $("#Students").val(),
                    async: true,
                    dataType: 'json',
                    cache: false,
                    statusCode: {
                        400: function () {
                            alert("Sorry! We cannot process you request");
                        },
                        200: function () {
                            window.location = '@Url.Action("Report")';
                        }
                    }
                });
                return false;
            }
        })

        $("#imageLink").click(function () {
            if ($('#Students').val() !== "0") {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Report")?formatId=Image&studentId=' + $("#Students").val(),
                    async: true,
                    dataType: 'json',
                    cache: false,
                    statusCode: {
                        400: function () {
                            alert("Sorry! We cannot process you request");
                        },
                        200: function () {
                            window.location = '@Url.Action("Report")';
                        }
                    }
                });
                return false;
            }
        })

        $("#Students").change(function () {

            $("#Student").val($("#Students").val());
            $("#StudentTable > tbody").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetTransactions")',
                dataType: 'json',
                data: { id: $("#Students").val() },

                success: function (transactions) {
                    $.each(transactions, function (i, transaction) {
                        $("#StudentTable tbody").append('<tr><td>' + transaction.TransactionID + '</td><td>' + transaction.TransactionType + '</td><td>' + transaction.CourseName + '</td><td>' + transaction.CreditAccountCode + '</td><td>' + transaction.DebitAccountCode + '</td><td>' + transaction.Amount + '</td></tr>');
                    });
                },
                error: function (ex) {
                    alert(' transactions retrieving fail.' + ex);
                }
            });
            return false;
        })

        $("#StudentTable tbody").on("click", "tr", function (event) {
            $(this).addClass('selected').siblings().removeClass('selected');
        });
    });
</script>
