@model UxtrataWeb.ModelView.CourseReportViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="editor-label">
        @Html.Label("Course")<br />
    </div>

    <div>
        @Html.DropDownListFor(model => model.Course, new SelectList(Model.Courses, "Value", "Text"), new { style = "width:350px", @id = "Courses" })
    </div>
    <iframe id="iframe" src="/WebForms/ReportViewer.aspx" width="1000" height="400"></iframe>
    <table class="table table-bordered" id="CourseTable">
        <thead>
            <tr><th>ID</th><th>Transaction Type</th><th>Course Name</th><th>From Account</th><th>To Acccount</th><th>Amount</th></tr>
        </thead>
        <tbody></tbody>
    </table>
    
    <div style="padding:10px; border:1px solid black">
        <div><a id="pdfLink" href="@Url.Action()"> Get Report PDF</a></div>
        <div><a id="excelLink" href="@Url.Action()"> Get Report Excel</a></div>
        <div><a id="wordLink" href="@Url.Action()"> Get Report Word</a></div>
        <div><a id="imageLink" href="@Url.Action()"> Get Report Image</a></div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#pdfLink").click(function () {
            if ($('#Courses').val() !== "0") {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Report")?formatId=PDF&courseId=' + $("#Courses").val(),
                    async: true,
                    dataType: 'json',
                    cache: false,
                    statusCode: {
                        400: function () {
                            alert("Sorry! We cannot process you request");
                        },
                        200: function () {
                            window.location = '@Url.Action("Report")';
                        }
                    }
                });
                return false;
            }
        })

        $("#excelLink").click(function () {
            if ($('#Courses').val() !== "0") {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Report")?formatId=Excel&courseId=' + $("#Courses").val(),
                    async: true,
                    dataType: 'json',
                    cache: false,
                    statusCode: {
                        400: function () {
                            alert("Sorry! We cannot process you request");
                        },
                        200: function () {
                            window.location = '@Url.Action("Report")';
                        }
                    }
                });
                return false;
            }
        })

        $("#wordLink").click(function () {
            if ($('#Courses').val() !== "0") {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Report")?formatId=Word&courseId=' + $("#Courses").val(),
                    async: true,
                    dataType: 'json',
                    cache: false,
                    statusCode: {
                        400: function () {
                            alert("Sorry! We cannot process you request");
                        },
                        200: function () {
                            window.location = '@Url.Action("Report")';
                        }
                    }
                });
                return false;
            }
        })

        $("#imageLink").click(function () {
            if ($('#Courses').val() !== "0") {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Report")?formatId=Image&courseId=' + $("#Courses").val(),
                    async: true,
                    dataType: 'json',
                    cache: false,
                    statusCode: {
                        400: function () {
                            alert("Sorry! We cannot process you request");
                        },
                        200: function () {
                            window.location = '@Url.Action("Report")';
                        }
                    }
                });
                return false;
            }
        })

        $("#Courses").change(function () {
            $("#CourseTable > tbody").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetTransactions")',
                dataType: 'json',
                data: { id: $("#Courses").val() },

                success: function (transactions) {
                    $.each(transactions, function (i, transaction) {
                        $("#CourseTable tbody").append('<tr><td>' + transaction.TransactionID + '</td><td>' + transaction.TransactionType + '</td><td>' + transaction.CourseName + '</td><td>' + transaction.CreditAccountCode + '</td><td>' + transaction.DebitAccountCode + '</td><td>' + transaction.Amount + '</td></tr>');
                    });
                    $("#iframe").attr("src", '/WebForms/ReportViewer.aspx?courseId=' + $("#Courses").val());
                },
                error: function (ex) {
                    alert(' transactions retrieving fail.' + ex);
                }
            });
            return false;
        })

        $("#CourseTable tbody").on("click", "tr", function (event) {
            $(this).addClass('selected').siblings().removeClass('selected');
        });
    });
</script>
